[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
assignment1 = {file = ".", editable = true}
ipython = "*"
duckdb = "*"

[dev-packages]

[requires]
python_version = "3.13"
